body {
	font-family: $font-family;
	font-size: $app-base-font-size;
	line-height: $app-base-line-height;
	background-color: $white-color;
	min-width: $app-min-width;
	max-width: $app-max-width;
	margin: 0 auto;
	padding: 0;
}

.main-container {
	background-color: $white-color;

	.hello-world {
		display: inline-block;
	}
}